header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.chef-claude-logo {
  width: 43px;
}
h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 55px;
}
